[Unit]
Description=Grafana
After=network.target

[Service]
User={{ grafana_user }}
Group={{ grafana_group }}
ExecStart={{ grafana_bin }} --homepath={{ grafana_homepath }}
Restart=always

[Install]
WantedBy=multi-user.target

