[Unit]
Description=Prometheus
After=network.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecStart={{ prometheus_install_dir }}/prometheus \
  --config.file={{ prometheus_config }} \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --storage.tsdb.retention.size={{ prometheus_retention_size }} \
  --storage.tsdb.retention.time={{ prometheus_retention_time }}
Restart=always

[Install]
WantedBy=multi-user.target

